{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <style>
        body {
            background-color: lightblue; /* You can change 'lightblue' to any color you prefer */
        }
    </style>
</head>
<body> 
<div class="container">
    <div class="row">
        
        {% for i in movie_list %}
        <div class="col-md-3 ml-4" style="padding-left:80px;">
            <div class="card" style="width: 18rem;">
                <img src="{{i.img.url}}" class="card-img-top" alt="..." width="100px" height="200px">
                <div class="card-body">
                  <h5 class="card-title">{{i.name}}</h5>
                  <p class="card-text">{{i.desc}}</p>
                  <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">Go</a>
                </div>
              </div>
    </div>
    {% endfor %}
</div>
</div>

{% comment %} <img src="{{i.img.url}}" width="200px" height="200">
<a href ="">{{i.name}}<br>   {% endcomment %}
{% endblock %}   
</body>
</html> 